body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  gap: 10px;
}

.spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 1s infinite ease-in-out;
}

.log-container {
  display: flex;
  flex-direction: column;
}

.step-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.visualization-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.tree-container {
  width: calc(100vw - 20px);
  height: 80vh;
  overflow: scroll;
}
.tree-container polygon {
  fill: transparent !important;
}

.hidden {
  visibility: hidden;
}
